---
// Component Imports
import Helmet from '@components/astro/helmet.astro';
import Button from '@components/react/Button';
// Data Fetching: List all Markdown posts in the repo.
// const projects = await Astro.glob('./project/**/*.md');

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <Helmet />
  </head>
  <body>
    <header>
      <p class="text-lg font-bold">
        Using edge function i can guess you come from COUNTRYNAME!
      </p>
    </header>
    <Button client:load>React Partial Hydrated Button</Button>
    <main>Main Content</main>
  </body>
</html>
